/* Base: Mobile styles first */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}



body.menu-open {
    overflow: hidden;
}

html {
    scroll-behavior: auto;
    font-size: 100%;
}

html,
body {
    overflow-x: hidden;
}


.fade-in-section {
    opacity: 0;
    transform: translate(-20px);
    /* ietsje omhoog starten */
    transition: opacity 2s ease-out, transform 2s ease-out;
    will-change: opacity, transform;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translate(0);
    /* terug op normale plek */
}

/* Algemene container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

}

/*popup*/
/* Hele overlay */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    /* donkere achtergrond */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    animation: fadeIn 0.5s forwards;
}

/* De inhoud (witte box) */
.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
}

/* Fade-in animatie */
@keyframes fadeIn {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}

/*  -- Style Here -- */

/* -- 01_Header -- */
.header-box {
    position: fixed;
    display: flex;
    width: 100%;
    max-width: 100vw;
    min-height: 60px;
    height: auto;
    background-color: black;
    z-index: 1100;
}

.header-box .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-cnc {
    width: 100%;
    max-width: 8.6875rem;
    height: auto;
}

.menu-toggle {
    width: 100%;
    max-width: 1.9375rem;
    height: auto;
    cursor: pointer;
}

.menu-toggle path {
    transition: all 0.3s ease;
    transform-origin: center;
    transform-box: fill-box;
}

.menu-toggle.open .top-bar {
    transform: translateY(11px) rotate(45deg) scaleX(1.4);
}

.menu-toggle.open .bottom-bar {
    transform: translateY(-11px) rotate(-45deg) scaleX(1.4);
}

.menu-toggle.open .middle-bar {
    opacity: 0;
}

.header-nav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
    pointer-events: none;
}

.header-nav.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

.header-nav_item {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1.5s ease;
}


.header-nav.active .header-nav_item {
    opacity: 1;
    transform: translateX(0);
}

.nav-wrapper ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 2.5rem;

}

.header-nav_item {
    text-decoration: none;
    color: inherit;
}

.nav-wrapper li {
    list-style: none;
    color: white;
    font-family: 'barlow condensed', sans-serif;
    font-size: 28px;
}


.nav-wrapper li span {
    font-family: outfit, sans-serif;
    font-weight: 800;
}



/* -- 02_HERO -- */
.hero-box {
    background-image: url('./Assets/02_phone/02_image/background-foto.jpg');
    width: 100%;
    height: 100svh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Donkere overlay */
    z-index: 1;
}

.hero-box .container,
.hero-box .hero-content {
    position: relative;
    z-index: 2;
}

.hero-box .container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-content {
    position: relative;
    top: 21rem;
}

.hero-content h1 {
    color: #FFF;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    font-family: Outfit, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.hero-content p {
    color: #FFF;
    text-align: center;
    font-family: Outfit, sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-content span {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 0.85rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* -- 03_QUALITY -- */
.quality1-box {
    background-color: #5b5b5bb0;
    width: 100%;
    height: auto;
    min-height: 35.5rem;
}

.quality1-box .container {
    display: flex;
    flex-direction: column;
}

.quality1-content .gebruiksvriendelijke-foto {
    width: 100%;
    min-height: 14.125rem;
    height: auto;
}

.quality1-content {
    position: relative;
    padding-top: 5rem;
}

.quality1-content h1 {
    color: white;
    text-shadow: 2px 2px 10px rgba(250, 250, 250, 0.6);
    font-family: Outfit, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quality1-content p {
    color: white;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.quality2-box {
    background-color: black;
    width: 100%;
    height: auto;
}

.quality2-box .container {
    display: flex;
    flex-direction: column;
}



.quality2-content {
    position: relative;
    margin-top: 6.25rem;
}

.quality2-content h1 {
    color: white;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    font-family: Outfit, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quality2-content p {
    color: white;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.quality2-content .snelleWebsite-foto {
    position: relative;
    bottom: -0.2375rem;
    width: 100%;
    min-height: 14.125rem;
    height: auto;
}

.quality3-box {
    background-color: #F5F5F5;
    width: 100%;
    height: auto;
}

.quality3-box .container {
    display: flex;
    flex-direction: column;
}

.quality3-content {
    position: relative;
    margin-top: 6.25rem;
}

.quality3-content h1 {
    color: #000;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    font-family: Outfit, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quality3-content p {
    color: black;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}

.quality3-content .mobilevriendelijk-foto {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 13.3125rem;
    left: 40px;
    bottom: -0.239rem;
}

/* -- 04_Contact -- */
.contact-box {
    background-color: black;
    width: 100%;
    height: auto;
}

.contact-box .container {
    display: flex;
    flex-direction: column;
    ;
}

.contact-info {
    position: relative;
    margin-top: 6.25rem;
}

.contact-info h1 {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.contact-info h3 {
    margin-top: -1.25rem;
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-info p {
    color: #FFF;
    font-family: Outfit, sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 2.0635rem;
}


/* -- 05_footer -- */
.footer-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    min-height: 7.5rem;
    background-color: black;
    align-content: center;

}



.footer-box .footer-content {
    color: #F5F5F5;
    font-family: Outfit, sans-serif;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*-------------------------------------------*/
/*About Page*/
#about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;


}

#about img {
    width: 100%;
    height: 100svh;
}

#about .content {
    position: relative;
    margin-top: 6.25rem;
}

#about .content h1 {
    color: white;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    font-family: Outfit, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#about .content p {
    color: white;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

/*-------------------------------------------*/
/*whycnc page*/
#whycnc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 31.75rem;
    background-color: black;
    background-repeat: no-repeat;
}

#whycnc .content {
    position: relative;
    margin-top: 6.25rem;
}

#whycnc .content h1 {
    color: white;
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.9);
    font-family: Outfit, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#whycnc .content h1 span {
    color: white;
    font-weight: 900;
}

#whycnc .content p {
    color: white;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#whycnc .content p span {
    font-weight: 800;
}

#watikdoe {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 31.75rem;
    background-color: white;
    background-repeat: no-repeat;
}

#watikdoe .content {
    position: relative;

}

#watikdoe .content h2 {
    color: black;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    font-family: Outfit, sans-serif;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#watikdoe .content p {
    color: black;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

#watikdoe .content ul {
    list-style: none;

}

#watikdoe .content li {
    color: black;
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*klaar*/